.headerContent{
    margin-top: 261px;
}
h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    color: #333333;
    max-width: 780px;
    margin-bottom: 51px;
}
.header{
    padding: 20px 0 50px;
    background-color: #E5ECE4;
    min-height: 100vh;
    position: relative;
}
h1 span{
    color: #688C63;;
}

.headerDescr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #333333;
    max-width: 475px;
    margin-bottom: 61px;
}

.headerContent a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 55px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    background: #69A561;
    color: #fff;
    letter-spacing: 0.3em;
    transition: background-color .2s;
    outline: none;
}
.headerContent a:hover{
    background-color: #4C604A;
}
.headerContent a:focus{
    outline: 1px solid #4C604A;
    outline-offset: 3px;
}
.headerContent a:active{
    transform: scaleX(.98) scaleY(.9);
    outline: none;
}
.headerAbsolute{
    position: absolute;
    right: 0;
    bottom: 0;
}



