.moment{
    min-height: 837px;
    background: #F6F6F6 url("../../../images/sheet2.png")left bottom/50% no-repeat ;
    padding: 239px 0 0;
    position: relative;
}


.momentImg{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.momentWrapper{
    display: flex;
    justify-content: right;
}
.momentContent{
    max-width: 460px;
    margin-right: 240px;
}

.momentTitle{
    font-size: 60px;
    line-height: 140%;
    color: #4C604A;
    margin-bottom: 40px;
}
.momentDescr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #555555;
    margin-bottom: 60px;
}

.momentLink{
    width: 330px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4C604A;
    color: #4C604A;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;
    transition: background-color .2s;
}
.momentLink:hover{
    background-color: #4C604A;
    color: #fff;
}
.momentLink:focus{
    outline-offset: 3px;
    outline: 1px solid #4C604A;
}
.momentLink:active{
    transform: scaleX(.98) scaleY(.9);
    outline: none;
}
.momentImg{
    object-fit: contain;
}