.slide{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 527px;
    margin-bottom: 80px;
}
.slideText{
    background-color: #fff;
    height: 217px;
    padding: 40px 25px 0;
    text-align: center;
}
.slideImg{

}
.img{
    height: 100%;
    width: 100%;
}
.title{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 45px;
    color: #688C63;
    margin-bottom: 14px;
}
.descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #555555;
}

/* ADAPTIVE */

@media (max-width: 1170px){
    .slide{
        width: 320px;
    }
    .descr{
        font-size: 19px;
    }
    .title{
        font-size: 30px;
    }

}

@media (max-width: 768px){
    .slide{
        width: 340px;
    }
}

@media (max-width: 425px) {
    .slide{
        width: 318px;
    }
}
@media (max-width: 360px) {
    .slide{
        width: 300px;
    }
}

