.swiper-button-prev{
    background: transparent url("../../../../images/prev.svg")center center/contain no-repeat;
    height: 50px;
    width: 50px;
    bottom: 6px;
    top: auto;
    left:auto;
    right: 320px;
}
.swiper{
    position: relative;
}
.swiper-button-prev::after, .swiper-button-next::after{
    content: none;
}
.swiper-button-next{
    background: transparent url("../../../../images/next.svg")center center/contain no-repeat;
    height: 50px;
    width: 50px;
    bottom: 6px;
    top: auto;
    left:auto;
    right: 240px;
}