.swiper-button-prev{
    background: transparent url("../../../../images/prev.svg")center center/contain no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    bottom: 6px;
    top: auto;
    left:auto;
    right: 320px;
    transition: background .2s;
}
.swiper{
    position: relative;
}
.swiper-button-prev::after, .swiper-button-next::after{
    content: none;
}
.swiper-button-next{
    background: transparent url("../../../../images/next.svg")center center/contain no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    bottom: 6px;
    top: auto;
    left:auto;
    right: 240px;
    transition: background .2s;
}
.swiper-button-prev:hover{
    background: transparent url("../../../../images/prevHover.svg")center center/contain no-repeat;
}
.swiper-button-next:hover{
    background: transparent url("../../../../images/nextHover.svg")center center/contain no-repeat;
}
/* ADAPTIVE */

@media (max-width: 992px){
    .swiper-button-next{
        bottom: 40px;
        right: 165px;
    }
    .swiper-button-prev{
        bottom: 40px;
        right: 245px;
    }
}

@media (max-width: 360px) {
    .swiper-button-next{
        bottom: 40px;
        left: 150px;
    }
    .swiper-button-prev{
        bottom: 40px;
        left: 90px;
    }
}


