.relief{
    padding: 125px 0 100px;
    min-height: 1050px;
    background: #F7F7F7;
    position: relative;
    overflow: hidden;
}

.container{
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper{
    max-width: 424px;
}
.title{
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    color: #4C604A;
    margin-bottom: 40px;
}
.descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #555555;
    max-width: 360px;
}
.descr+.descr{
    margin-top: 30px;
}

.absoluteSlider{
    max-width: 1220px;
    position: absolute;
    right: 0;
    bottom: 110px;
    margin-right: -15px;
}