.terms{
    padding: 20px 0 150px;
    background-color: #F7F7F7;
}

.container{
    max-width: 18400px;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    margin: 145px 0 50px;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    text-align: center;
    color: #4C604A;
}
.text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: #555555;
    max-width: 1010px;
    margin: 0 auto;
}
.text+.text{
    margin-top: 20px;
}


/* ADAPTIVE */

@media (max-width: 768px) {
    .title{
        font-size: 40px;
    }
    .text{
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .title{
        font-size: 31px;
    }
    .text{
        font-size: 14px;
    }
}