
.first{
    min-height: 600px;
    padding: 20px 0 70px;
    background: #E5ECE4;
}
.title{
    margin: 145px 0 40px;
    font-size: 60px;
    line-height: 140%;
    text-align: center;
    color: #4C604A;
}
.description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #555555;
    max-width: 900px;
    margin: 0 auto;
}
.second{
    height: calc(100vh - 600px);
    background: url("../../../images/aboutBetween.jpg")center center/cover no-repeat;
}

/* ADAPTIVE */

@media (max-width: 1500px){
    .title {
        font-size: 50px;
    }
}

@media (max-width: 992px){
    .description{
        font-size: 18px;
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .second{
        background: url("../../../images/adaptive/aboutBetweenAdaptive.jpg")center center/cover no-repeat;
    }
    .first{
        min-height: 400px;
    }
    .second{
        height: calc(100vh - 400px);
    }
    .title{
        font-size: 31px;
        margin: 70px 0 30px;
    }
}