.promise{
    padding: 150px 0;
    background: url("../../../images/promise.jpg")center center/cover no-repeat;

}
.container{
    max-width: 1282px;
    padding: 0 20px;
    margin: 0 auto;
}
.wrapper{
    display: grid;
    grid-template-columns: 527px 503px;
    grid-column-gap: 211px;
    grid-row-gap: 47px;
}
.element{
    position: relative;
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    text-transform: capitalize;
    color: #4C604A;
    margin-bottom: 50px;
}
.inner{
    padding-left: 91px;
}
.main{
    margin-bottom: 20px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    color: #688C63;
}
.element:nth-child(1)::before{
    content: '01';
    position: absolute;
    left: 0;
    top: 0;
}
.element:nth-child(2)::before{
    content: '02';
    position: absolute;
    left: 0;
    top: 0;
}
.element:nth-child(3)::before{
    content: '03';
    position: absolute;
    left: 0;
    top: 0;
}

.element:nth-child(4)::before{
    content: '04';
    position: absolute;
    left: 0;
    top: 0;
}
.element:nth-child(5)::before{
    content: '05';
    position: absolute;
    left: 0;
    top: 0;
}
.element:nth-child(5){
    margin-top: -62px;
}
.element:nth-child(6)::before{
    content: '06';
    position: absolute;
    left: 0;
    top: 0;
}
.element::before{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    text-transform: capitalize;
    color: #688C63;
    opacity: 0.3;
}
.descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #555555;
}
.w315{
    max-width: 315px;
}

/* ADAPTIVE */

@media (max-width: 1270px){
    .wrapper{
        grid-template-columns: 527px 503px;
        grid-column-gap: 100px;
    }
}

@media (max-width: 1169px){
    .wrapper{
        grid-template-columns: 400px 400px;

    }
}

@media (max-width: 944px){
    .wrapper{
        grid-template-columns: 340px 340px;
        grid-column-gap: 50px;
    }
    .element:nth-child(5){
        margin-top: 0;
    }
}

@media (max-width: 768px){
    .title{
        font-size: 45px;
        text-align: center;
    }
    .inner{
        padding: 70px 0 0  0;
    }
    .element::before{
        font-size: 45px;
    }
    .wrapper{
        grid-template-columns: 500px;
        margin: 0 auto;
    }
    .gridOutside{
        display: flex;
        justify-content: center;
        max-width: 720px;
    }
    .descr{
        max-width: none;
    }
    .promise{
        padding: 70px 0 100px;
    }
}

@media (max-width: 590px) {
    .wrapper{
        grid-template-columns: 390px;
    }
}

@media (max-width: 425px) {
    .wrapper{
        grid-template-columns: 335px;
    }
    .inner{
        padding: 50px 0 0  0;
    }
    .element::before{
        font-size: 31px;
    }
    .main{
        font-size: 25px;
    }
    .descr{
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .wrapper{
        grid-template-columns: 300px;
    }
}





