.story{
    min-height: 1113px;
    background-color: #F6F6F6;
    padding: 125px 0 80px;
}

.container{
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
}
.title{
    font-size: 60px;
    line-height: 140%;
    color: #4C604A;
    margin-top: 100px;
    margin-bottom: 40px;
}
.content{
    width: 577px;
    margin-right: 163px;
}
.minusMargin{
    margin-right: -168px;
}
.description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #555555;
}

.description+.description{
    margin-top: 25px;
}