footer{
    padding: 40px 0;
    background-color: #4C604A;
}

.footerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, .1);
    padding-bottom: 16px;
    margin-bottom: 40px;
}

.footerLogo{
    margin-left: 10px;
}
.footerLinks{
    width: 447px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerLink{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}

.footerBook{
    width: 337px;
    display: block;
    margin: 0 auto 40px;
    padding: 14px 51px;
    border: 1px solid rgba(256, 256, 256, .6);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}
.footerLast{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerTerms{
    padding: 0 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}
.footerTerms+.footerTerms{
    border-left: 1px solid rgba(256, 256, 256, .6);
}
.containerFooter{
    max-width: 1800px;
    margin: 0 auto;
}