body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::before, ::after{
  box-sizing: border-box;
}
ul{
  margin: 0;
}
li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}
p{
  margin: 0;
}
section{
  margin: 0;
}
::placeholder{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #555555;
}
