.review{
    min-height: 100vh;
    padding: 100px 0;
    position: relative;
    background-color: #F6F6F6;
}
.container{
    max-width: 1265px;
    margin: 0 auto;
    padding: 0 20px;
}
.wrapper{
    display: flex;
    justify-content: space-between;

}
.person{
    margin-right: 125px;
    position: relative;
}
.content{
    max-width: 950px;
}
.person::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background: transparent url("../../../images/quotes.svg")center center/cover no-repeat;
}
.title{
    font-family: 'Futura';
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    color: #688C63;
    margin-bottom: 50px;
}
.text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #555555;
}
.text+.text{
    margin-top: 30px;
}
.innerWrapper{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.name{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 45px;
    color: #555555;
    opacity: 0.7;
    margin-bottom: 4px;
}
.profession{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #555555;
    opacity: 0.5;
    margin-bottom: 5px;
}
.from{
    ont-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    color: #555555;
}
.arrows{
    display: flex;
    align-items: flex-end;
}
.arrows button{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    display: block;
}
.prev{
    margin-right: 30px;
}

/* ADAPTIVE */

@media (max-width: 666px) {
    .wrapper{
        flex-direction: column;
        align-items: center;
    }
    .person{
        margin: 0 0 50px 0;
    }
}

@media (max-width: 425px) {
    .text{
        font-size: 18px;
    }
    .title{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .innerWrapper{
        flex-direction: column;
    }
    .about{
        margin-bottom: 30px;
    }
}
