.fresh{
    min-height: 1125px;
    padding: 230px 0;
    position: relative;
}
.containerFresh{
    max-width: 1440px;
    margin: 0 auto;
}
.freshRight{
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-height: 925px;
}
.girl{
    align-self: center;
}
.freshWrapper{
    background-color: #4C604A;
    padding: 255px 155px 0;
    max-width: 710px;
}
.freshTitle{
    font-size: 60px;
    line-height: 140%;
    color: #4C604A;
    max-width: 340px;
}

.freshWrapper p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.freshWrapper p:first-child{
    margin-bottom: 25px;
}
.linkWrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.freshLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 55px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    border: 1px solid #fff;
    transition: background-color .2s;
}
.freshLink:hover{
    background: #FFFFFF;
    color: #000;
}
.freshLink:focus{
    outline: 1px solid #4C604A;
    outline-offset: 3px;
}
.freshLink:active{
    transform: scaleX(.98) scaleY(.9);
    outline: none;
}
.girlImgAdaptive{
    display: none;
}

/* ADAPTIVE */

@media (max-width: 1700px){
    .freshWrapper{
        padding: 255px 30px 0;
        max-width: 470px;
    }
}
@media (max-width: 1500px){
    .containerFresh{
        max-width: 1320px;
    }
}
@media (max-width: 1350px){
    .freshRight{
        position: static;
    }
    .freshTitle{
        text-align: center;
        max-width: none;
        margin-bottom: 50px;
    }
    .freshRight{
        transform: none;
        flex-direction: column;
        align-items: center;
        max-height: none;
        right: auto;
        top: auto;
    }
    .freshWrapper{
        display: block;
        min-width: 100%;
        padding: 255px 30px 100px;
    }
    .freshSheet{
        display: none;
    }
    .girlImg{
        display: none;
    }
    .girl{
        align-self: auto;
    }
    .freshInner{
        max-width: 402px;
        margin: 0 auto;
    }
    .girlImgAdaptive{
        display: block;
        margin-bottom: -200px;
        z-index: 10;
        position: relative;
    }
    .fresh{
        padding: 60px 0 0;
        min-height: auto;
    }
}

@media (max-width: 1170px){
    .freshTitle{
        font-size: 36px;
    }
    .freshWrapper p{
        font-size: 19px;
    }
}

@media (max-width: 425px){
    .freshWrapper p{
        font-size: 18px;
    }
    .freshTitle{
        font-size: 32px;
    }
    .freshLink{
        width: 335px;
        height: 50px;
    }
}
@media (max-width: 396px){

    .freshLink{
        width: 300px;
        height: 50px;
    }
    .freshWrapper{
        padding: 250px 10px 70px;
    }
    .girlImgAdaptive{
        width: 300px;
    }
}
