


.container{
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    z-index: 100;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerList{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;

    color: #333333;
}

.headerListItem+.headerListItem{
    margin-left: 80px;
}

.headerLast a{
    border: 1px solid #4C604A;
    padding: 13px 25px;
    color: #4C604A;
}

.white{
    color: #fff;
}
.headerLastWhite a{
    border: 1px solid #fff;
    padding: 13px 25px;
    color: #fff;
}

.active{
    font-weight: 700;
}
.headerListBook{
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}
.headerListBook:hover{
    background-color: #4C604A;
    color: #fff;
}
.headerListBook:focus{
    outline-offset: 3px;
    outline: 1px solid #4C604A;
}
.momentLink:hover{
    background-color: #4C604A;
    color: #fff;
}
.momentLink:focus{
    outline-offset: 3px;
    outline: 1px solid #4C604A;
}
.momentLink:active{
    transform: scaleX(.98) scaleY(.9);
    outline: none;
}