


.container{
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    z-index: 100;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerList{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.3em;

    color: #333333;
}

.headerListItem+.headerListItem{
    margin-left: 80px;
}

.headerLast a{
    border: 1px solid #4C604A;
    padding: 13px 25px;
    color: #4C604A;
}

.white{
    color: #fff;
}
.headerLastWhite a{
    border: 1px solid #fff;
    padding: 13px 25px;
    color: #fff;
}

.active{
    font-weight: 700;
}
.headerListBook{
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}
.headerListBook:hover{
    background-color: #4C604A;
    color: #fff;
}
.headerListBook:focus{
    outline-offset: 3px;
    outline: 1px solid #4C604A;
}
.momentLink:hover{
    background-color: #4C604A;
    color: #fff;
}
.momentLink:focus{
    outline-offset: 3px;
    outline: 1px solid #4C604A;
}
.momentLink:active{
    transform: scaleX(.98) scaleY(.9);
    outline: none;
}

/* ADAPTIVE */

@media (max-width: 1500px){
    .container{
        max-width: 1320px;
    }
}

@media (max-width: 1350px){
    .container{
        max-width: 1140px;
    }
}

@media (max-width: 1300px){
    .container{
        max-width: 1140px;
    }
    .headerList{
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 960px;
    }
    .headerListItem+.headerListItem{
        margin-left: 45px;
    }
    .headerList{
        font-size: 12px;
    }
    .headerListBook{
        width: 200px;
        height: 40px;
    }
    .headerListLogo{
        width: 70px;
    }
}
@media (max-width: 768px) {
    .mobileLinkFlex{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container{
        max-width: 720px;
    }

    .headerListBook{
        width: 335px;
        height: 50px;
    }
    .headerWrapper{
        position: relative;
    }
    .headerListLogo{
        width: 50px;
        z-index: 10;
        position: relative;
    }
    .headerList{
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 25px;
    }

    .burger-menu{
        cursor: pointer;
        z-index: 10;
    }

    .burger-menu-item{
        display: block;
        width: 25px;
        height: 2px;
        border-radius: 5px;
        background-color: #111111;
        margin-bottom: 10px;
        transition: .5s all;
    }
    .burger-menu-item:last-child{
        margin: 0;
    }
    .burger-menu-active span:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
    }
    .burger-menu-active span:nth-child(2){
        display: none;
    }
    .burger-menu-active span:nth-child(3){
        transform: translateY(-2px) rotate(45deg);;
    }

    .headerOther{
        width: 100vw;
        height: 100vh;
        background: url("../../images/adaptive/burgerBackground.jpg")center center/cover no-repeat;
        position: fixed;
        top: 0;
        right: -100%;
        transition: right 1s;
        z-index: 5;
    }
    .headerOtherActive{
        right: 0;
    }
    .headerListItem+.headerListItem{
        margin-left: 0;
        margin-top: 50px
    }
}
@media (max-width: 576px) {
    .headerList{
        font-size: 20px;
    }
    .headerLast{
        font-size: 17px;
    }
    .headerListLogo{
        width: 35px;
    }
    .burger-menu-item{
        width: 20px;
        height: 2px;
        margin-bottom: 5px;
    }
    .burger-menu-active span:nth-child(1){
        transform: translateY(5px) rotate(-45deg);
    }
    .burger-menu-active span:nth-child(3){
        transform: translateY(-2px) rotate(45deg);;
    }
}

@media (max-width: 374px) {
    .headerListBook{
        width: 300px;
    }
}